x_axis/flows.json
[
    {
        "id": "07325b9e7e40e233",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a3597eb3e1b4f9ef",
        "type": "mqtt in",
        "z": "07325b9e7e40e233",
        "name": "",
        "topic": "PSA24G2_xCommand",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "d1055e8eddf3915b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 120,
        "wires": [
            [
                "202d303be3ea3219"
            ]
        ]
    },
    {
        "id": "202d303be3ea3219",
        "type": "function",
        "z": "07325b9e7e40e233",
        "name": "Separação",
        "func": "var comando=msg.payload\n\nvar modeIndex=comando.indexOf(\"M\")\nvar xIndex = comando.indexOf(\"X\")\n\nvar mode=Number(comando.charAt(modeIndex+1))\nvar x=Number(comando.slice(xIndex+1))\nif(x<0){x=x+65536}\n\nmsg.modo=mode\nmsg.payload=x\nmsg.complete=1\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 120,
        "wires": [
            [
                "b7705dfe605f9770",
                "dcf7d33f969af65d",
                "4b14e0c9f5f2305b"
            ]
        ]
    },
    {
        "id": "23b6c8fb20347695",
        "type": "switch",
        "z": "07325b9e7e40e233",
        "name": "",
        "property": "modo",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 850,
        "y": 100,
        "wires": [
            [
                "352305ea3c598231",
                "d93581ee0fe2cf58"
            ],
            [
                "352305ea3c598231",
                "ab15f3c86cf572c4"
            ]
        ]
    },
    {
        "id": "12c085783bd4d5f6",
        "type": "modbus-write",
        "z": "07325b9e7e40e233",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "Coil",
        "adr": "2088",
        "quantity": "1",
        "server": "1d4248171caa786d",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 1240,
        "y": 40,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "2feee32ee23a5b29",
        "type": "modbus-write",
        "z": "07325b9e7e40e233",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "Coil",
        "adr": "2099",
        "quantity": "1",
        "server": "1d4248171caa786d",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 1320,
        "y": 220,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "b7705dfe605f9770",
        "type": "change",
        "z": "07325b9e7e40e233",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 120,
        "wires": [
            [
                "23b6c8fb20347695"
            ]
        ]
    },
    {
        "id": "dcf7d33f969af65d",
        "type": "modbus-write",
        "z": "07325b9e7e40e233",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "6020",
        "quantity": "1",
        "server": "1d4248171caa786d",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 640,
        "y": 240,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "e46a7f67c60e0a04",
        "type": "modbus-read",
        "z": "07325b9e7e40e233",
        "name": "",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "4096",
        "quantity": "1",
        "rate": "500",
        "rateUnit": "ms",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "1d4248171caa786d",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 530,
        "y": 700,
        "wires": [
            [
                "2d29dc9e27fc89bc"
            ],
            []
        ]
    },
    {
        "id": "f745d5b7bb3de56f",
        "type": "function",
        "z": "07325b9e7e40e233",
        "name": "function 1",
        "func": "var xtodos=msg.x\n\nvar x=xtodos[xtodos.length-1][0]\n\nif(x>32767){x=x-65536}\nmsg.payload=x\nmsg.topic = \"posição\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1300,
        "y": 500,
        "wires": [
            [
                "309e8de093fb637f",
                "91b08dc338742319"
            ]
        ]
    },
    {
        "id": "5302e444a5f44043",
        "type": "join",
        "z": "07325b9e7e40e233",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "x",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1070,
        "y": 540,
        "wires": [
            [
                "f745d5b7bb3de56f"
            ]
        ]
    },
    {
        "id": "bec64938d55431cc",
        "type": "trigger",
        "z": "07325b9e7e40e233",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "pay",
        "op2type": "str",
        "duration": "-1",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 540,
        "y": 520,
        "wires": [
            [
                "5302e444a5f44043",
                "ce367e9f203fb438"
            ]
        ]
    },
    {
        "id": "2d29dc9e27fc89bc",
        "type": "change",
        "z": "07325b9e7e40e233",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "x",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 620,
        "wires": [
            [
                "5302e444a5f44043"
            ]
        ]
    },
    {
        "id": "56f5164d98aa20e1",
        "type": "modbus-read",
        "z": "07325b9e7e40e233",
        "name": "",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "Coil",
        "adr": "2077",
        "quantity": "1",
        "rate": "500",
        "rateUnit": "ms",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "1d4248171caa786d",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 550,
        "y": 420,
        "wires": [
            [
                "c434180b3c29d172"
            ],
            []
        ]
    },
    {
        "id": "ce367e9f203fb438",
        "type": "join",
        "z": "07325b9e7e40e233",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "c",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 910,
        "y": 320,
        "wires": [
            [
                "7094117e93c130ab"
            ]
        ]
    },
    {
        "id": "c434180b3c29d172",
        "type": "change",
        "z": "07325b9e7e40e233",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "c",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 320,
        "wires": [
            [
                "ce367e9f203fb438"
            ]
        ]
    },
    {
        "id": "7094117e93c130ab",
        "type": "function",
        "z": "07325b9e7e40e233",
        "name": "function 2",
        "func": "var concluido=msg.c\n\nvar c=concluido[concluido.length-1][0]\nmsg.payload=c\nmsg.topic=\"estado\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 340,
        "wires": [
            [
                "ef348aa3b30c5110"
            ]
        ]
    },
    {
        "id": "ef348aa3b30c5110",
        "type": "switch",
        "z": "07325b9e7e40e233",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1250,
        "y": 360,
        "wires": [
            [
                "309e8de093fb637f"
            ],
            [
                "64395e0292e44a17",
                "309e8de093fb637f"
            ]
        ]
    },
    {
        "id": "64395e0292e44a17",
        "type": "change",
        "z": "07325b9e7e40e233",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1640,
        "y": 560,
        "wires": [
            [
                "41af4805e5351a87"
            ]
        ]
    },
    {
        "id": "41af4805e5351a87",
        "type": "link out",
        "z": "07325b9e7e40e233",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "33100e26668bbd66"
        ],
        "x": 1815,
        "y": 580,
        "wires": []
    },
    {
        "id": "33100e26668bbd66",
        "type": "link in",
        "z": "07325b9e7e40e233",
        "name": "link in 1",
        "links": [
            "41af4805e5351a87"
        ],
        "x": 335,
        "y": 540,
        "wires": [
            [
                "bec64938d55431cc"
            ]
        ]
    },
    {
        "id": "309e8de093fb637f",
        "type": "join",
        "z": "07325b9e7e40e233",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1910,
        "y": 500,
        "wires": [
            [
                "f15b95c3f0fed92d"
            ]
        ]
    },
    {
        "id": "f15b95c3f0fed92d",
        "type": "function",
        "z": "07325b9e7e40e233",
        "name": "function 3",
        "func": "var posicao=msg.payload[\"posição\"]\nvar estado=msg.payload[\"estado\"]\n\nif(estado==true){\n    estado=1\n} else if(estado==false){\n    estado=0\n}\nelse{\n    estado=2\n}\nmsg.payload=\"C\"+estado+\"X\"+posicao\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2060,
        "y": 560,
        "wires": [
            [
                "6338925de6cd764e",
                "a6db0e7f338904ad"
            ]
        ]
    },
    {
        "id": "6338925de6cd764e",
        "type": "debug",
        "z": "07325b9e7e40e233",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2220,
        "y": 480,
        "wires": []
    },
    {
        "id": "a6db0e7f338904ad",
        "type": "mqtt out",
        "z": "07325b9e7e40e233",
        "name": "",
        "topic": "PSA24G2_xFeedback",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d1055e8eddf3915b",
        "x": 2320,
        "y": 580,
        "wires": []
    },
    {
        "id": "55698e3f11552191",
        "type": "modbus-write",
        "z": "07325b9e7e40e233",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "Coil",
        "adr": "2077",
        "quantity": "1",
        "server": "1d4248171caa786d",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 1520,
        "y": 120,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "352305ea3c598231",
        "type": "change",
        "z": "07325b9e7e40e233",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1280,
        "y": 120,
        "wires": [
            [
                "55698e3f11552191",
                "c95dbf5180dfe95f"
            ]
        ]
    },
    {
        "id": "4b14e0c9f5f2305b",
        "type": "delay",
        "z": "07325b9e7e40e233",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 320,
        "y": 380,
        "wires": [
            [
                "bec64938d55431cc"
            ]
        ]
    },
    {
        "id": "d93581ee0fe2cf58",
        "type": "delay",
        "z": "07325b9e7e40e233",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1020,
        "y": 80,
        "wires": [
            [
                "12c085783bd4d5f6"
            ]
        ]
    },
    {
        "id": "ab15f3c86cf572c4",
        "type": "delay",
        "z": "07325b9e7e40e233",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1020,
        "y": 200,
        "wires": [
            [
                "2feee32ee23a5b29"
            ]
        ]
    },
    {
        "id": "c95dbf5180dfe95f",
        "type": "modbus-write",
        "z": "07325b9e7e40e233",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "Coil",
        "adr": "2076",
        "quantity": "1",
        "server": "1d4248171caa786d",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 1540,
        "y": 200,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "162bb50d0b14cdad",
        "type": "modbus-read",
        "z": "07325b9e7e40e233",
        "name": "",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "Coil",
        "adr": "2076",
        "quantity": "1",
        "rate": "5000",
        "rateUnit": "ms",
        "delayOnStart": false,
        "startDelayTime": "1",
        "server": "1d4248171caa786d",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 790,
        "y": 760,
        "wires": [
            [
                "7599ae83875eb316"
            ],
            []
        ]
    },
    {
        "id": "7599ae83875eb316",
        "type": "change",
        "z": "07325b9e7e40e233",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "c",
                "pt": "msg",
                "to": "2",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1100,
        "y": 740,
        "wires": [
            [
                "021f54786326e29b"
            ]
        ]
    },
    {
        "id": "021f54786326e29b",
        "type": "function",
        "z": "07325b9e7e40e233",
        "name": "function 4",
        "func": "var concluido = msg.payload\n\nvar c = concluido[0]\nif(c){\nmsg.payload = 2\nmsg.topic = \"estado\"\nreturn msg;}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1360,
        "y": 740,
        "wires": [
            [
                "91b08dc338742319"
            ]
        ]
    },
    {
        "id": "91b08dc338742319",
        "type": "join",
        "z": "07325b9e7e40e233",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1830,
        "y": 740,
        "wires": [
            [
                "f0908d81040b9f4c",
                "a4777567ac1fbfc8"
            ]
        ]
    },
    {
        "id": "f0908d81040b9f4c",
        "type": "function",
        "z": "07325b9e7e40e233",
        "name": "function 5",
        "func": "var posicao=msg.payload[\"posição\"]\nvar estado=msg.payload[\"estado\"]\n\nmsg.payload=\"C\"+estado+\"X\"+posicao\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2040,
        "y": 700,
        "wires": [
            [
                "a6db0e7f338904ad"
            ]
        ]
    },
    {
        "id": "a4777567ac1fbfc8",
        "type": "debug",
        "z": "07325b9e7e40e233",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2060,
        "y": 780,
        "wires": []
    },
    {
        "id": "d1055e8eddf3915b",
        "type": "mqtt-broker",
        "name": "",
        "broker": "193.137.172.20",
        "port": "85",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "1d4248171caa786d",
        "type": "modbus-client",
        "name": "",
        "clienttype": "serial",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "127.0.0.1",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "COM11",
        "serialType": "ASCII",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "even",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true,
        "showErrors": false,
        "showWarnings": true,
        "showLogs": true
    }
]